{{ with resources.GetRemote "https://api.zotero.org/groups/5454933/collections/U68Q8VUJ/items/top?format=json&v=3"}}
    {{ $kilder := unmarshal .Content }}
        {{ range $kilder }}
            {{ $string := jsonify . }} 
            {{ $filename := printf "/kilder/%s.md" (urlize .data.title) }} 
            {{ .data }}
            {{ if not (fileExists (print "public/sources/" (urlize .data.title) ".md")) }}
                {{ $resource := resources.FromString $filename $string }} 
                {{ $file := $resource.RelPermalink }} 
            {{ end }}
        {{ end }}
{{ end }}


