{{ define "main" }}
 
{{ .Content }}
{{ if not .Params.type }}
<div class="emneknagger">
    <h5>Emner jeg har skrevet om:</h5>
        <ul class="taglist-index">
            {{range $name, $taxonomy := .Site.Taxonomies.tags}} {{ $cnt := .Count }}
            {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
                {{ partial "tags-homepage" (dict "page" . "name" $name "taxonomy" $taxonomy "count" $cnt )}}
            {{ end }}
        {{ end }}
        <li><a href="./tags">Se listen</a></li>
        </ul>
        <h5>Emner jeg har lært om:</h5>
        <ul class="taglist-index">
            {{range $name, $taxonomy := .Site.Taxonomies.logs}} {{ $cnt := .Count }}
            {{ with $.Site.GetPage (printf "/logs/%s" $name) }}
                {{ partial "tags-homepage" (dict "page" . "name" $name "taxonomy" $taxonomy "count" $cnt )}}
            {{ end }}
        {{ end }}
        </ul>

</div>
{{ end }}
{{ end }}
