{{ define "main" }}
{{ if not .Params.type }}
<div class="intro">
                <h1>
                    Emneknagger
                </h1>
                <p>En oversikt over emner jeg har skrevet om</p>
</div>
<div class="emneknagger">
    <h5>Emner jeg har skrevet om:</h5>
        <ul class="taglist-index">
            {{range $name, $taxonomy := .Site.Taxonomies.tags}} {{ $cnt := .Count }}
            {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
                {{ partial "tags-homepage" (dict "page" . "name" $name "taxonomy" $taxonomy "count" $cnt )}}
            {{ end }}
        {{ end }}
        </ul>
        <a href="./tags">Se som liste</a>
        <h5>Emner jeg har lært om:</h5>
        <ul class="taglist-index">
            {{range $name, $taxonomy := .Site.Taxonomies.logs}} {{ $cnt := .Count }}
            {{ with $.Site.GetPage (printf "/logs/%s" $name) }}
                {{ partial "tags-homepage" (dict "page" . "name" $name "taxonomy" $taxonomy "count" $cnt )}}
            {{ end }}
        {{ end }}
        </ul>

        <a href="./logs">Se som liste</a>
</div>
{{ else }}

                {{ $p := where site.Pages "Params.tags" "intersect" (slice .Params.Title) }}
<div class="intro">
                <h1>
                    #{{.Params.Title}} <sup>{{len $p }}</sup>
                </h1>
                <p>Saker som omhandler {{.Params.Title}}</p>
</div>
<div class="last-posts-list">



                {{ if len $p}}
                <ul>
                    {{range $p }}
                    <li>
                            <span>{{strings.FirstUpper .Type}}</span>
                        <h4>
                        <a href="{{.Permalink}}">
                            {{.Title}}

                        </a>
                        </h4>
                        <div>
                            <p class="last-posts-list__meta">
                                {{ if ne (.Date | time.Format ":date_medium" ) ( .Lastmod | time.Format ":date_medium" ) }}
                                <span>Red: {{ .Lastmod | time.Format "2. Jan 2006"}} | </span>
                                {{ end }}
                                <span>Pub: {{ .Params.Date | time.Format "2. Jan 2006" }} | </span>    
                                {{ partial "tags.html" .}}
                            </p>
                        </div>
                        {{ if .Params.ingress }}
                        <p class="last-posts-list__ingress">{{.Params.ingress}}</p>
                        {{ end }}
                        <a class="readmore" href="{{.Permalink}}">Les videre</a>
                    </li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
        </div>
</div>
{{ end }}
{{ end }}
