{{ define "main" }}
{{ if not .Params.type }}
<div class="intro sider">
    {{.Content}}
</div>
<div class="emneknagger">
    <h2>Emner jeg har skrevet om i <a href="/tekster">tekster</a></h2>

        <ul class="taglist-index">
            {{range $name, $taxonomy := .Site.Taxonomies.tekstemner}} {{ $cnt := .Count }}
            {{ with $.Site.GetPage (printf "/tekstemner/%s" $name) }}
                {{ partial "tags-homepage" (dict "page" . "name" $name "taxonomy" $taxonomy "count" $cnt )}}
            {{ end }}
        {{ end }}
        </ul>
        <p><a href="./tekstemner">Se som liste</a></p>
        <h2 id="laeringslogg">Emner jeg har lært om i <a href="/laeringslogg">læringsloggen</a>:</h2>
        <ul class="taglist-index">
            {{range $name, $taxonomy := .Site.Taxonomies.laeringsemner}} {{ $cnt := .Count }}
            {{ with $.Site.GetPage (printf "/laeringsemner/%s" $name) }}
                {{ partial "tags-homepage" (dict "page" . "name" $name "taxonomy" $taxonomy "count" $cnt )}}
            {{ end }}
        {{ end }}
        </ul>

        <p><a href="./laeringsemner">Se som liste</a></p>
</div>
{{ else }}

                {{ $p := where site.Pages "Params.tekstemner" "intersect" (slice (strings.ToLower .Params.Title)) }}
<div class="intro">
                <h1>
                    #{{.Params.Title}} <sup>{{len $p }}</sup>
                </h1>
                <p>Saker som omhandler {{.Params.Title}}</p>
</div>
<div class="last-posts-list">



                {{ if len $p}}
                <ul>
                    {{range $p }}
                    <li>
                            <span>{{strings.FirstUpper .Type}}</span>
                        <h4>
                        <a href="{{.Permalink}}">
                            {{.Title}}

                        </a>
                        </h4>
                        <div>
                            <p class="last-posts-list__meta">
                                {{ if ne (.Date | time.Format ":date_medium" ) ( .Lastmod | time.Format ":date_medium" ) }}
                                <span>Red: {{ .Lastmod | time.Format "2. Jan 2006"}} | </span>
                                {{ end }}
                                <span>Pub: {{ .Params.Date | time.Format "2. Jan 2006" }} | </span>    
                                {{ partial "tags.html" .}}
                            </p>
                        </div>
                        {{ if .Params.ingress }}
                        <p class="last-posts-list__ingress">{{.Params.ingress}}</p>
                        {{ end }}
                        <a class="readmore" href="{{.Permalink}}">Les videre</a>
                    </li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
        </div>
</div>
{{ end }}
{{ end }}
