@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   p a {
    /* background-color: #314158; */
    color: hotpink;
    font-weight: 600;
    /* padding: 0 0.1rem; */
  }
  /*
  header nav ul li {
    color: hotpink;
  }
  */
.relative {
	position: relative;
}
.bg-center {
	background-position: center;
}
.w-full {
	width: 100%;
}
.h-auto {
	height: auto;
}
@keyframes fadeIn {
 0% {
	 opacity: 0;
 }
 to {
	 opacity: 1;
 }
}
.animate-fade {
	animation: fadeIn 750ms ease-in-out;
}
}

