@import "normalize.css";

/* RESET */
:root {
  line-height: 1.6;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}


ol, ul {
  list-style: none;
  padding-inline: 0;
}
article ol, article ul {
    font-size: clamp(1rem, 0.9024rem + 0.4878vi, 1.25rem)
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: -0.03ch;
}

img {
  display: block;
  max-inline-size: 100%;
}
/* END RESET */

p a {
    text-decoration: underline;
}

p, header nav ul {
    font-size: clamp(1rem, 0.9024rem + 0.4878vi, 1.25rem);
    letter-spacing: -0.001ch;
    line-height: 1.6;
}

.portrett {
    display: flex;
    gap: 2rem;
}

.portrett figure {
    margin: 0;
}

.portrett figure > div {
    width: 200px;
}

.portrett img {
    border-radius: 50%;
}

.portrett .ingress {
    margin-bottom: 0!important;
}

.portrett-om {
    float: right;
    margin: 0 0 1rem 2rem;
}

.portrett-om figure {
    margin: 0;
}

.portrett-om figure > div {
    width: 150px;
}

.portrett-om img {
    border-radius: 50%;
}

@media only screen and (max-width: 808px) {
.portrett {
    align-items: flex-start;
    flex-direction:column-reverse;
}
.portrett figure > div {
    width: 150px;
    height: 150px;
}

.portrett-om figure > div {
    width: 100px;
}

}
.relative {
	position: relative;
}


.bg-center {
	background-position: center;
}

.bibliotek-list {
    display: flex;
    gap: 1rem;
}

.bok {
    float: left;
    margin: 0 16px 8px 0;
    width: 100px;
}

.bok figure {
    margin-bottom: 0;
}

.w-full {
	width: 100%;
}

.h-auto {
	height: auto;
}

@keyframes fadeIn {
 0% {
	 opacity: 0;
}
 
 to {
	 opacity: 1;
 }
}

:root {
    --base-color: hsl(35, 100%, 98%);
    --primary-color: hsl(0, 0%, 8%);
    --accent-color: hsl(360, 90%, 48%, 1);
    --accent-color-light: hsl(360, 90%, 48%, .05);
    --accent-color-visited: hsl(360, 90%, 48%, 1);
    --accent-color-hover: hsl(205, 90%, 30%);
    --gray-color: #5E5E5E;

    --mini: 0.25rem;
    --small: 0.5rem;
    --medium_1: 1rem;
    --medium_2: 1.5rem;
    --medium_3: 2rem;
    --large_1: 2.5rem;
    --large_2: 3rem;
    --large_3: 3.5rem;
    --max: 4rem;

    --section-margin: min(20vw, 6rem);

    --breakpoint: 810px;

    --h1-size: clamp(1.9rem, 8vw, 2.786rem); 
    --h1-weight: 800;
    --h1-lineheight: 1.2;

    --h2-size: clamp(1.7rem, 7.5vw, 2.488rem);
    --h2-weight: 600;
    --h2-lineheight: 1.2;

    --h3-size: clamp(1.2rem, 6vw, 2.074rem);
    --h3-weight: 600;
    --h3-lineheight: 1.2;

    --h4-size:clamp(1.45rem, 5vw, 1.728rem);
    --h4-weight: 600;
    --h4-lineheight: 1.2em;

    --h5-size: clamp(1.15rem, 4.5vw, 1.44rem);
    --h5-weight: 600;
    --h5-lineheight: 1.3;

    --h6-size: clamp(1.10rem, 4.5vw, 1.35rem);
    --h6-weight: 600;
    --h6-lineheight: 1.3;

    color: var(--primary-color); 
}

a {
    color: var(--accent-color);
    text-decoration: none;
    transition: all .2s ease;
}

a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

a.active, a.ancestor {
    color: var(--primary-color);
    text-decoration: underline;
}


p a:hover {
    background: var(--accent-color);
    color: var(--base-color)
}


p a:visited:hover {
    color: var(--base-color);
}

.backlinks {
    clear: both;
    padding-top: var(--medium_3);
}

.backlinks h2 {
    font-size: var(--h5-size);
    font-weight: var(--h5-weight);
    line-height: var(--h5-lineheight);
    margin-bottom: var(--medium_1);
}

.backlinks nav {
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    font-size: 90%;
    margin-top: 1rem;
}

.breadcrumb a {
    color: var(--gray-color);
    text-decoration: underline;
}

.breadcrumb a:hover {
    color: var(--base-color);
    background: var(--accent-color);
}

hr.single {
    float: left;
    max-width: 50px;
    width: 100%;
    margin-top: 3rem;
}

.animate-fade {
	animation: fadeIn 750ms ease-in-out;
}

figure {
    margin: var(--medium_2) 0;
}

figcaption {
    color: var(--gray-color);
    font-style: italic;
    font-weight: 300;
    margin-bottom: 2rem;
    margin-top: .5rem;
    line-height: 1.6;
}

blockquote {
    font-weight: 300;
}

blockquote figcaption {
    color: var(--primary-color);
    font-size: clamp(1rem, 0.9024rem + 0.4878vi, 1.25rem);
    font-style: normal;
    font-weight: 600;
    line-height: 1.4;
}

figcaption a:hover {
    background: var(--accent-color);
    color: var(--base-color);
}

.kilde-list {
    /*list-style-type: circle;
    margin-left: 1rem; */
}

.laeringslogg-homepage li {
    border-bottom: 1px solid hotpink;
    padding: 1rem 0;
}

.last {
    display: flex;
    justify-content: space-between;
}

.last > section {
    width: calc(50% - 1rem);
}

@media only screen and (max-width: 810px) {
    .last {
        flex-direction: column;
    }
    .last > section {
    width: calc(100%);
}
}
.cal {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    margin-top: var(--medium_2);
}

.cal > li {
    background: var(--accent-color-light);
    color: var(--primary-color);
    text-decoration: none;
    outline: 1px solid var(--accent-color);
    margin-top: 1px;
    margin-left: 1px;
    transition: background .2s ease, color .2s ease;
}

.cal > li a {
    color: var(--primary-color);
    display: block;
    height: 100%;
    padding: var(--medium_2);
    text-decoration: none;
}

.cal > li:hover {
    background: var(--accent-color);
    color: var(--base-color);
}

.cal > li:hover a {
    color: var(--base-color);
}

.cal a > div {
    display: flex;
    flex-direction: column;
}

.cal .cal__date {
    margin-bottom: 1rem;
    text-align: right;
}

.cal .cal__date h3 {
    font-size: var(--h5-size);
    font-weight: var(--h5-weight);
    line-height: var(--h5-lineheight);
    font-weight: 800;
    line-height: 1.4rem;
}

.cal .cal__date h3 span {
    font-size: var(--medium_1);
    font-weight: 500;
    display: block;
}

article code {
    border-radius: .25rem;
    padding: .125rem .35rem;
    color: var(--base-color);
    background: #272822;
    font-size: 90%;
}

article code > span {
    display: unset!important;
}

article h2 {
    font-size: var(--h2-size);
    font-weight: var(--h2-weight);
    line-height: var(--h2-lineheight);
    margin-bottom: var(--medium_2);
    margin-top: var(--large_2);
}

article h3 {
    font-size: var(--h3-size);
    font-weight: var(--h3-weight);
    line-height: var(--h3-lineheight);
    margin-bottom: var(--medium_1);
    margin-top: var(--large_1);
}

article h4 {
    font-size: var(--h4-size);
    font-weight: var(--h4-weight);
    line-height: var(--h4-lineheight);
    margin-bottom: var(--small);
    margin-top: var(--medium_3);
}

section.journal {
    margin-top: var(--medium_2);
    font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;;
}

article ol {
    list-style-type: numbers;
    list-style-position: inside;
    margin: var(--medium_2);
}

article ul {
    list-style-type: disc;
    list-style-position: inside;
    margin: var(--medium_2);
    margin-right: 0;
}

article li ul {
    list-style-type: circle;
    margin-top: var(--small);
}

article.logg ul {
    margin-bottom: 0;
}

article ol li, article ul li {
    margin-bottom: var(--small);
}

article p + p {
    margin-top: var(--medium_2);
}

article pre {
    overflow: auto;
    overflow-x: scroll;
    overflow-wrap: normal;
    padding: 3%;
    margin: 5px 0;
}

article pre code {
    padding: unset;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

blockquote {
    border-left: 3px solid var(--primary-color);
    color: var(--gray-color);
    font-size: clamp(1.15rem, 4vw, 1.55rem);
    margin: 2rem 0 2rem clamp(0vw, 2vw, 1rem);
    padding-left: min(6vw, 2rem);
    line-height: 1.4;
}

blockquote .source {
    font-weight: normal;
    font-style: italic;
    font-size: .85em;
}

div.message {
    background: var(--primary-color);
    border-radius: .5rem;
    color: var(--base-color);
    padding: var(--medium_2);
    margin-bottom: var(--medium_2);
}

div.message a {
    color: var(--base-color);
}

div.message a:hover {
    color: var(--primary-color);
    background: var(--base-color);
}

div.message h2 {
    font-size: var(--h6-size);
    margin: 0;
}

div.message > svg {
    float: left;
    max-width: 50px;
    margin: 0 2rem .5rem 0;
}

@media only screen and (max-width: 810px) {
div.message {
}
}

.emneknagger p + h2 {
    margin-top: var(--medium_3);
}

.emneknagger h2 {
    font-size: var(--h5-size);
    font-weight: var(--h5-weight);
    line-height: var(--h5-lineheight);
}

.emneknagger ul + p {
    display: inline-block;
    margin: var(--medium_2) 0;
}

.emneknagger ul + h5 {
    margin-top: var(--large_1)
}

footer {
    background: var(--primary-color);
    color: var(--base-color);
    margin: min(20vw, 12rem) calc(clamp(var(--medium_2), 8vw, var(--large_2))
 * -1) calc(clamp(var(--medium_2), 8vw, var(--large_2))
 * -1) calc(clamp(var(--medium_2), 8vw, var(--large_2))
 * -1);
    padding: clamp(var(--medium_2), 8vw, var(--large_2));;
    text-align: center;
}

footer a {
    color: var(--base-color);
    text-decoration: none;
}

footer p a {
    text-decoration: underline;
}

footer nav {
    margin-bottom: var(--medium_2);
}

footer nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
}
footer nav ul li::after {
        content:"|"
}

footer nav ul li:last-child::after {
    content:"";
}

footer a:hover {
text-decoration: underline;
color: var(--base-color);
}

footer nav ul li a {
padding: 0 var(--small);
}

footer nav ul li a.active, footer a.ancestor {
    color: var(--base-color);
    text-decoration: underline;
}

footer p {
    font-size: .85rem;
}

.footnotes {
    margin-top: clamp(4rem, 10vw, 6rem);
}

.footnotes ol {
    list-style-position: inside;
    margin-left: 0;
    margin-right: 0;
}

.footnotes ol p {
    display: inline;
}

.gallery {
  display: grid;
   gap: .5rem; 
   grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.gallery_home figure, .gallery figure {
    margin: 0;
}

.gallery_home {
  display: grid;
   gap: .5rem; 
   grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}
@media only screen and (max-width: 810px) {
.gallery-module {
    margin-top: var(--section-margin);
}
}

@media only screen and (min-width: 810px) {
  .gallery {
   margin: 0 calc(((50vw - 3.5rem) - 35ch) * -1);
   }
}

article.journal .footnotes {
    margin-top: 0rem;
}

article.journal .footnotes hr {
    display: none;
}

article.journal .footnotes ol {
    margin-left: 0;
    margin-bottom: 0;
}

article.journal .footnotes ol li {
    margin-bottom: 0;
}

article.journal .footnotes ol p {
    display: inline;
}
/*
h1 {
    font-size: clamp(1.9rem, 8vw, 2.986rem); 
    font-weight: 800;
    line-height: 1.4;
}

h2 {
    font-size: clamp(1.7rem, 7.5vw, 2.488rem);
    font-weight: 600;
    line-height: 150%;
}

h3 {
    font-size: clamp(1.2rem, 6vw, 2.074rem);
    font-weight: 600;
    line-height: 150%;
}

h4 {
    font-size:clamp(1.45rem, 5vw, 1.728rem);
    font-weight: 600;
    line-height: 1.4em;
}

h5 {
    font-size: clamp(1.15rem, 4.5vw, 1.44rem);
    font-weight: 600;
    line-height: 150%;
}
*/

h6 {
    margin: 0;
}

header {
    align-items: center;
    display: flex;
    flex-wrap:wrap;
    gap: var(--large_1);
    justify-content: space-between;
    margin:0 auto var(--section-margin) auto;
    
    max-width: 70ch;
}

@media only screen and (max-width: 808px) {
header {
    gap: var(--medium_2);
}
}
header nav {
    margin-left: -.5rem;
    margin-right: -.5rem;
}

header nav ul {
    color: var(--gray-color);
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li::after {
        content:"|"
}

header nav ul li:last-child::after {
    content:"";
}

header nav ul li a {
    padding: 0 var(--small);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.4;
    color: var(--accent-color);
    margin-right: -3px;
    transition: color .2s ease;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.highlight {
    margin: var(--medium_2) 0;
}

html {
    background: var(--base-color);
    display: flex;
    min-height: 100%;
    padding: clamp(var(--medium_2), 8vw, var(--large_2))
}

.img_hover figure {
    display: inline-block;
 -webkit-box-shadow: inset 0 0 0 10px rgba(255,255,255, 0);
  -moz-box-shadow: inset 0 0 0 10px rgba(255,255,255, 0);
  box-shadow: inset 0 0 0 10px rgba(255,255,255, 0);
  
  -webkit-transition: all .5s 0s;
  -moz-transition: all .5s 0s;
  transition: all .5s 0s;
}

.img_hover:hover figure {
  -webkit-box-shadow: inset 0 0 0 10px rgba(255,51,51, .4);
  -moz-box-shadow: inset 0 0 0 10px rgba(255,51,51, .4);
  box-shadow: inset 0 0 0 10px rgba(255,51,51, .4);
}

.img_hover figure img {
   display: block;
   position: relative;
   z-index: -1;
}

.ingress {
    font-size: clamp(1.15rem, 3vw, 1.30rem);
    font-weight: 600;
}

.index-top p + h2 {
    margin-top: var(--large_1);
    font-size: var(--h5-size);
    font-weight: var(--h5-weight);
}

.index-top .intro.sider {
    margin-bottom: clamp(4rem, 10vw, 6rem);
}

.intro {
    margin-bottom: clamp(2rem, 10vw, 6rem);
}

.intro.sider {
    margin-bottom: clamp(1.5rem, 10vw, 3rem);
}

.intro.sider .last-posts-list__meta {
    margin-top:  var(--medium_1);
}

.intro h1 {
    font-size: var(--h1-size);
    line-height: var(--h1-lineheight);
    font-weight: var(--h1-weight);
    margin-bottom: var(--medium_1);
}

.intro.blogg {
    margin-bottom: clamp(4rem, 10vw, 6rem);
}

.intro.sider .ingress {
    font-size: clamp(1.35rem, 5vw, 1.5rem);
    line-height: 1.4;
    margin-bottom: clamp(1.5rem, 10vw, 3rem);
    font-weight: 500;
}

.intro.sider p + p {
    margin-top: 1rem;
}

.intro.blogg p {
    margin-bottom: 2rem;
}

.intro ~ p {
    margin-top: var(--medium_2);
}

.intro.tag span {
    display: block;
    font-size: 1.15rem;
    margin-top: var(--small);
}

.journal-wrap {
    background: hsl(44.31deg 100% 60% / 9%);
    background: hsl(37deg 57% 47% / 5%);
    background-image: linear-gradient(hsl(0deg 0% 80% / 30%) 1px, transparent 1px);
background-size: 1px 23px;
    padding: clamp(1rem, 5vw, 2rem);
}


.laeringslogg-list > li + li {
    margin-top: var(--large_3);
}

.laeringslogg-list h2 {
    font-size: var(--h4-size);   
    font-weight: var(--h4-weight);
    line-height: var(--h4-lineheight);
    text-align: center;
}

.laeringslogg p + p {
    margin-top: var(--medium_2);
}

.last-posts-list li > span {
    font-size: 1.1rem;
    font-weight: 600;
}

.last-posts-list .readmore {
    margin-top:.5rem;
    display:inline-block;
    text-decoration: underline;
}

.last-posts-list {
    display: flex;
    flex-direction: column;
    gap: clamp(3rem, 1.3913rem + 3.0435vi, 3.75rem);
}

.last-posts-list li {
    border-radius: .5rem;
}

.last-posts-list li h2.journal, .last-posts-list li h3.journal {
    margin-top: var(--medium);
    font-family: "serif";
    font-style: italic;
    font-size: var(--h2-size);
    line-height: 1.3;
    margin: .25rem 0 1rem 0;
}

.last-posts-list li h4.journal a  {
    color: var(--accent-color);
    display: block;
    font-weight: 400;
    text-decoration: none;
}
.last-posts-list li h4 a  {
    color: var(--accent-color);
    display: block;
    text-decoration: none;
}

.last-posts-list h2 {
    font-size: var(--h4-size);
    font-weight: var(--h4-weight);
    line-height: var(--h4-lineheight);
}

.last-posts-list h4 svg {
    color: var(--accent-color);
    position: relative;
    top: -5px;
}

.last-posts-list li h4 a:hover {
    text-decoration: underline;
}

.last-posts-list li h4 .date {
    font-weight: 600;
}

.last-posts-list li hr {
    float: left;
    max-width: 50px;
    width: 100%;
}

.last-posts-list__meta {
   color: #5E5E5E;
   font-size: 90%;
   margin-top: var(--mini);
}

.last-posts-list__meta a {
    color: inherit;
}

.last-posts-list__meta svg {
    margin-left: 2px;
}

.last-posts-list__ingress {
    margin-top: var(--medium_1);
}

.last-posts-list h4 {
    margin-bottom: .25rem;
}

.library-module h3 {
    font-size: var(--h5-size);
    font-weight: var(--h5-weight);
    margin: 0 0 var(--small) 0;
    line-height: 1.4;
}

@media only screen and (max-width: 810px) {
    .library-module figure {
        max-width: 250px;
    }
}

.logo {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: -0.5rem;
    line-height: 1;
}

.logo a {
    border-bottom: 3px solid var(--accent-color);
    display: inline-block;
    padding-right: 14px;
    padding-left: 5px;
    text-decoration: none;
    color: var(--primary-color);
    transition: color .2s ease, border-color .2s ease;
}

.logo a:hover {
    color: var(--accent-color);
    border-color: var(--primary-color);
}

.mail {
    clear: both;
    padding-top: var(--large_1);
}

.mail h2 {
    font-size: var(--h5-size);
    font-weight: var(--h5-weight);
    line-height: var(--h5-lineheight);
}

.mail p {
    margin-top: var(--medium_1);
}

main {
    flex: 1;
    margin: 0 auto;
    max-width: 70ch;
    width: 100%;
}


.section {
    margin-top: var(--section-margin);
}

.section h2 {
    font-size: var(--h2-size);
    font-weight: var(--h2-weight);
    margin-bottom: var(--medium_3);
}

section.journal_link a {
    display: inline-block;
    margin-top: 1rem;
    text-decoration: underline;
}


.section.texts h3 {
    font-size: var(--h4-size);
    font-weight: var(--h4-weight);
    line-height: 1.2;
}


@media only screen and (max-width: 810px) {
    .section h2 {
        margin-bottom: var(--medium_1);
    }
}

.taglist ul {
    display: flex;
    flex-direction: column;
    gap: var(--medium_1);
    padding-top: var(--small);
}

.taglist a {
    color: var(--primary-color);
    display: block;
    text-decoration: none;
}

.taglist h3 {
    font-size: var(--h6-size);
    font-weight: var(--h6-weight);
    line-height: var(--h6-lineheight);
    color: var(--accent-color);
}

.taglist a h3, .taglist a h2  {
    transition: color .2s ease;
}

.taglist a:hover h3, .taglist a:hover h2  {
    text-decoration: underline;
    color: var(--accent-color-visited);
}

.taglist h2 {
    font-size: var(--h3-size);
    font-weight: var(--h2-weight);
    line-height: var(--h3-lineheight);
    margin-bottom: var(--medium_1);
}

.taglist h2 a {
    color: var(--accent-color);
}

.taglist h4 svg {
    position: relative;
    top: -5px;
}

.taglist h2 a:hover {
    color: var(--accent-color-visited);
    text-decoration: underline;
}

.taglist h5 {
    margin-bottom: var(--medium_1);
}

.taglist h5 span {
   font-weight: 400;
   margin-bottom: var(--medium_1);
}

.taglist hr {
    margin-left: 0;
    text-align: left;
    width: 50px;
}

.taglist > li + li {
    margin-top: 3rem;
}

.taglist.single > li + li {
    margin-top: .95rem;
}

.taglist .readmore {
margin-top:.5rem;display:inline-block;
color: var(--accent-color);
}

.taglist__source {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: capitalize;
}

.taglist-index  {
    display: flex;
    flex-wrap:wrap;
    gap: var(--medium_1);
    margin-top: var(--medium_2);
}

.taglist-index li a {
    background-color: var(--accent-color-light);
    border: 1px solid var(--accent-color);
    border-radius: 9999px;
    color: var(--primary-color);
    display: inline-block;
    font-weight: 500;
    font-size: 90%;
    letter-spacing: 0.04ch;
    padding: var(--small) var(--medium_2);
    text-decoration: none;
    transition: background .2s ease, color .2s ease;
}

.taglist-index li a:hover {
    background: var(--accent-color);
    color: var(--base-color);
    border-color: var(--accent-color);
}
