{{ define "main" }}
    {{ with resources.GetRemote "https://api.zotero.org/groups/5454933/collections/U68Q8VUJ/items/top?format=json"}}
        {{ with .Content }} 
            {{ with transform.Unmarshal . }}
                {{ range .}}
                    {{ $string := jsonify . }} 
                    {{ $filename := printf "monster/%s.md" (urlize .data.title) }} 
                    {{ $resource := resources.FromString $filename $string }} 
                    {{ $file := $resource.RelPermalink }} 
                    <div>
                        <h2>{{ .data.title }}</h2>
                        <small>
                            {{ range .data.creators }}
                                {{ .firstName }} {{ .lastName }} 
                            {{ end}}
                        </small>
                    </div>
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}
