{{ define "main" }}    {{ if eq .Type "tekster" "or" "laeringslogg" "or" "journal" }}
    <div class="intro blogg">
    {{ else }}
    <div class="intro sider">
        {{end}}
    {{ if eq .Type "laeringslogg" }}
    <h1>{{ .Title | time.Format ":date_long" }}</h1>
    <p class="last-posts-list__meta">
    {{ if ne (.Date | time.Format ":date_medium" ) ( .Lastmod | time.Format ":date_medium" ) }}
    <span>Red: {{ .Lastmod | time.Format "2. Jan 2006"}} | </span>
    {{ end }}
    <span>Pub: {{ .Params.Date | time.Format "2. Jan 2006" }} | </span>    
    {{ partial "tags.html" .}}
    </p>
    {{ else if or (eq .Type "tekster") (eq .Type "journal") }}
    <h1>{{ .Title }}</h1>
    <p class="last-posts-list__meta">
    {{ if ne (.Date | time.Format ":date_medium" ) ( .Lastmod | time.Format ":date_medium" ) }}
    <span>Red: {{ .Lastmod | time.Format "2. Jan 2006"}} | </span>
    {{ end }}
    <span>Pub: {{ .Params.Date | time.Format "2. Jan 2006" }} | </span>    
    {{ partial "tags.html" .}}
    </p>
    {{ else }}
    <h1>{{ .Title }}</h1>
    <p class="last-posts-list__meta">
    {{ if ne (.Date | time.Format ":date_medium" ) ( .Lastmod | time.Format ":date_medium" ) }}
    <span>Red: {{ .Lastmod | time.Format "2. Jan 2006"}} | </span>
    {{ end }}
    <span>Pub: {{ .Params.Date | time.Format "2. Jan 2006" }} | </span>    
    {{ partial "tags.html" .}}
    </p>
    <p class="ingress">{{ .Params.ingress }}</p>
    {{ end }}
    </div>
<article>
    {{ if ne .Type "staticpage" }}
{{ with .Params.ingress }}
<p class="ingress">{{.}}</p>
{{ end }}
{{end }}
{{- .Content -}}
</article>
<hr class="single">
{{ $backlinks := slice }}
{{ $path_base := .File.ContentBaseName }}
{{ $path_base_re := printf `["/(]%s["/)]` $path_base }}

{{ range where site.RegularPages "RelPermalink" "ne" .RelPermalink }}
    {{ if (findRE $path_base_re .RawContent 1) }}
        {{ $backlinks = $backlinks | append . }}
    {{ end }}
{{ end }}
{{ with $backlinks }}
    <section class="backlinks">
        {{ printf "<h5>Andre tekster som henviser til denne: </h5>" | safeHTML }}
        <nav>
            <ul class="taglist single">
                {{ range . }}
                {{$type := .Type}}
                {{- if eq .Type "staticpage" -}}
                    {{$type = "Side"}}
                {{- end -}}
        <li>
            <a href="{{.Permalink}}">
            <h6>{{.Title}}</h6>
            <div>
                <p class="last-posts-list__meta">
                <span style="font-weight: 600">{{strings.FirstUpper $type }}</span> | 
                {{ if ne (.Date | time.Format ":date_medium" ) ( .Lastmod | time.Format ":date_medium" ) }}
                <span>Red: {{ .Lastmod | time.Format "2. Jan 2006"}} | </span>
                {{ end }}
                <span>Pub: {{ .Params.Date | time.Format "2. Jan 2006" }}</span>    
                </p>
            </div>
            </a>
        </li>
                {{ end }}
            </ul>
        </nav>
    </section>
{{ end }}
{{ end }}
