{{ define "main" }}
    {{ if eq .Type "blogg" "or" "læringslogg" "or" "journal" }}
    <div class="intro blogg">
    {{ else }}
    <div class="intro">
        {{end}}
    {{ if eq .Type "læringslogg" }}
    <h1>{{ .Title | time.Format ":date_medium" }}</h1>
    <p class="last-posts-list__meta">
    {{ if ne (.Date | time.Format ":date_medium" ) ( .Lastmod | time.Format ":date_medium" ) }}
    <span>Red: {{ .Lastmod | time.Format "2. Jan 2006"}} | </span>
    {{ end }}
    <span>Pub: {{ .Params.Date | time.Format "2. Jan 2006" }} | </span>    
    {{ partial "tags.html" .}}
    </p>
    {{ else if or (eq .Type "blogg") (eq .Type "journal") }}
    <h1>{{ .Title }}</h1>
    <p class="last-posts-list__meta">
    {{ if ne (.Date | time.Format ":date_medium" ) ( .Lastmod | time.Format ":date_medium" ) }}
    <span>Red: {{ .Lastmod | time.Format "2. Jan 2006"}} | </span>
    {{ end }}
    <span>Pub: {{ .Params.Date | time.Format "2. Jan 2006" }} | </span>    
    {{ partial "tags.html" .}}
    </p>
    {{ else }}
    <h1>{{ .Title }}</h1>
    <p>{{ .Params.ingress }}</p>
    {{ end }}
    </div>
<article>
{{- .Content -}}
</article>
<hr class="single">
{{ end }}
