{{ define "main" }}
<div class="intro blogg">
    <h1>{{ .Title }}</h1>
    {{ if eq .Type "blogg" }}
    <p class="last-posts-list__meta">
    {{ if ne (.Date | time.Format ":date_medium" ) ( .Lastmod | time.Format ":date_medium" ) }}
    <span>Red: {{ .Lastmod | time.Format "2. Jan 2006"}} | </span>
    {{ end }}
    <span>Pub: {{ .Params.Date | time.Format "2. Jan 2006" }} | </span>    
    {{ partial "tags.html" .}}
    </p>
    {{ end }}
</div>
<article>
{{- .Content -}}
</article>
{{ end }}
