{{ define "main" }}



                {{ $p := where site.Pages "Params.serier" "intersect" (slice (lower .Title)) }}
<div class="intro sider tag">
	{{slice .Title}}
                <h1>
                    {{.Title}} <sup>{{len $p }}</sup>
                </h1>
                <p class="ingress">Tekster i serien {{.Title}}</p>
</div>
	<ul class="blog-list">
		{{ range $p.GroupByDate "2006"}}	
		<li>
		<h2>{{.Key}}<sup>{{len .Pages}}</sup></h2>

                <ul class="last-posts-list">
                    {{range .Pages }}
                    <li>
                        <h3>
                        <a href="{{.Permalink}}">{{.Title}}
                        </a>
                        </h3>
                        {{ if .Params.listeintro }}
                        <p class="last-posts-list__ingress">{{.Params.listeintro}}</p>
                        {{ end }}
                        <div>
                            <p class="last-posts-list__meta">
                               {{ .Params.Date | time.Format "2. Jan 2006" }} | {{ partial "tags.html" .}}
                            </p>
                        </div>
                       <a class="readmore" href="{{.Permalink}}">Les videre</a>
                    </li>
                    {{ end }}
                </ul>
		</li>
		{{ end }}
	    </ul>
        </div>
</div>






{{ end }}

