{{ define "main" }}

                {{ $p := where site.Pages "Params.tekstemner" "intersect" (slice (lower .Title)) }}
                {{ $p_logs := where site.Pages "Params.laeringsemner" "intersect" (slice (lower .Title)) }}
{{ $url := print "emneknagger/laeringsemner/" (lower .Title) }}

<div class="intro tag">
                <h1>
                    #{{.Title}} <sup>{{len $p }}</sup>
                </h1>
                <p>Tekster som omhandler {{lower .Title}}</p>
    <span>
    {{ if $p_logs }}
    Denne emneknaggen er også oppført i læringsloggen. <a href={{ relURL $url }}>Se oversikten her.</a>
    {{ end }}
    </span>
</div>
<div class="last-posts-list">
                {{ if len $p}}
                <ul>
                    {{range $p }}
                    <li>
                        <span>{{strings.FirstUpper .Type}}</span>
                        <h4>
                        <a href="{{.Permalink}}">
                            {{.Title}}
                        </a>
                        </h4>
                        <div>
                            <p class="last-posts-list__meta">
                                {{ if ne (.Date | time.Format ":date_medium" ) ( .Lastmod | time.Format ":date_medium" ) }}
                                <span>Red: {{ .Lastmod | time.Format "2. Jan 2006"}} | </span>
                                {{ end }}
                                <span>Pub: {{ .Params.Date | time.Format "2. Jan 2006" }} | </span>    
                                {{ partial "tags.html" .}}
                            </p>
                        </div>
                        {{ if .Params.ingress }}
                        <p class="last-posts-list__ingress">{{.Params.ingress}}</p>
                        {{ end }}
                       <a class="readmore" href="{{.Permalink}}">Les videre</a>
                    </li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
        </div>
</div>
{{ end }}
