<div class="last-posts-list">
<ul>
    
    {{ $page := .page }}

    {{ range .range}}
        
        
                    <li>
                        <h4><a href="{{.Permalink}}">{{.Title}}</a></h4>
                        <div>
                            <p class="last-posts-list__meta">
                                {{ if ne (.Date | time.Format ":date_medium" ) ( .Lastmod | time.Format ":date_medium" ) }}
                                <span>Red: {{ .Lastmod | time.Format "2. Jan 2006"}} | </span>
                                {{ end }}
                                <span>Pub: {{ .Params.Date | time.Format "2. Jan 2006" }} | </span>    
                                {{ partial "tags.html" .}}
                            </p>
                        </div>
                        {{ if .Params.ingress }}
                        <p class="last-posts-list__ingress">{{.Params.ingress}}</p>
                        {{ end }}
                        <a class="readmore" href="{{.Permalink}}">Les videre</a>
                    </li>
    {{ end }}
</ul>
</div>
