{{ $tagtype := printf "%s%s" "Params." .tagtype}}
{{ $count := .count }}
    <li>

           <a href="{{ .page.RelPermalink }}">
               <h4>
            
                #{{.name}} <sup>{{ $count }}</sup>
                </h4>
            </a>
                {{ $p := where site.Pages $tagtype "intersect" (slice .name) }}

                {{ if len $p}}
                <ul>
                    {{range $p | first 5 }}
                    <li><a href="{{.Permalink}}">
                            {{ if eq .Type "laeringslogg" }}
                            <h6>{{.Title | time.Format ":date_long"}}</h6>
                            {{ else }}
                            <h6>{{.Title}}</h6>
                            {{end}}
                        <div>
                            <p class="last-posts-list__meta">
                                {{strings.FirstUpper .Type }} | 
                                {{ if ne (.Date | time.Format ":date_medium" ) ( .Lastmod | time.Format ":date_medium" ) }}
                                <span>Red: {{ .Lastmod | time.Format "2. Jan 2006"}} | </span>
                                {{ end }}
                                <span>Pub: {{ .Params.Date | time.Format "2. Jan 2006" }}</span>    
                            </p>
                        </div></a>
                    </li>
                    {{ end }}
                </ul>
                {{ if gt .count 5 }}
                <ul class="taglist-index">
                    <li>
                <a class="button" href="{{ .page.Permalink }}">Se alle</a>
                    </li>
                </ul>
                {{ end }}
                {{ end }}
            </div>
        </div>
    </li>
