
    <li class="flex">

                <h2>
            <a href="{{ .page.RelPermalink }}">
                #{{.name}} <sup>{{.count}}</sup>
            </a>
                </h2>

                {{ $p := where site.Pages "Params.tags" "intersect" (slice .name) }}

                {{ if len $p}}
                <ul>
                    {{range $p }}
                    <li>
                        <h6>{{.Title}}</h6>
                        <div>
                            <p class="last-posts-list__meta">
                                {{strings.FirstUpper .Type }} | 
                                {{ if ne (.Date | time.Format ":date_medium" ) ( .Lastmod | time.Format ":date_medium" ) }}
                                <span>Red: {{ .Lastmod | time.Format "2. Jan 2006"}} | </span>
                                {{ end }}
                                <span>Pub: {{ .Params.Date | time.Format "2. Jan 2006" }}</span>    
                            </p>
                        </div>
                    </li>
                    <li><hr></li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
        </div>
    </li>
