{{ $tagtype := printf "%s%s" "Params." .tagtype}}
{{ $count := .count }}
    <li>

           <a href="{{ .page.RelPermalink }}">
               <h2>
            
                #{{.name}} <sup>{{ $count }}</sup>
                </h2>
            </a>
                {{ $p := where site.Pages $tagtype "intersect" (slice .name) }}

                {{ if len $p}}
                <ul>
                    {{range $p | first 5 }}
                    <li>
                            {{ if eq .Type "laeringslogg" }}
                            <h3>{{.Title | time.Format ":date_long"}}
                            {{ else }}
                            <a href="{{.Permalink}}"><h3>{{.Title}}
                            {{end}}</h3></a>
                        <div>
                            <p class="last-posts-list__meta">
 {{ .Params.Date | time.Format "2. Jan 2006" }} | {{ partial "tags.html" .}}
			    
                            </p>
                        </div>
			    
                    </li>
                    {{ end }}
                </ul>
                {{ if gt .count 5 }}
                <ul class="taglist-index">
                    <li>
                <a class="button" href="{{ .page.Permalink }}">Se alle</a>
                    </li>
                </ul>
                {{ end }}
                {{ end }}
            </div>
        </div>
    </li>
