<header>
    <div class="logo">
        <a href="{{ relURL "" }}">
            MH
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="{{ relURL "" }}">Hjem</a></li>
            <li><a href="{{ relURL "blogg" }}">Blogg</a></li>
            <li><a href="{{ relURL "journal" }}">Journal</a></li>
            <li><a href="{{ relURL "laeringslogg" }}">Læringslogg</a></li>
            <li><a href="{{ relURL "emneknagger" }}">Emneknagger</a></li>
            <li><a href="{{ relURL "kilder" }}">Kilder</a></li>
            <li><a href="{{ relURL "lenker" }}">Lenker</a></li>
            <li><a href="{{ relURL "om" }}">Om</a></li>
            <li><a href="{{ relURL "na" }}">Nå</a></li>
        </ul>
    </nav>
</header>
