{{ $page := .}}
{{ $url := trim .Page.RelPermalink "/"}}
{{ $urlsplit := split .Permalink "/" }}
{{ $urlconstructor := "" }}
{{ $num := 1 }}
<header>
    <div class="logo">
        <a href="{{ relURL "" }}">
            MH
        </a>
    </div>
    <div>
    <nav>
        <ul>
{{- range site.Menus.main }}
{{- $attrs := dict "href" .URL }}
{{- if $page.IsMenuCurrent "main" . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if or ($page.HasMenuCurrent "main" .) (and (strings.Contains $page.Permalink .PageRef) (ne .Name "Hjem"))}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
<li>
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
    </li>
{{- end }}
        </ul>
    </nav>
{{ if and (ne $page.Type "tags") (ne $page.Type "logs") }}
    <ol class="" itemscope itemtype="https://schema.org/BreadcrumbList">
        {{- /* declare a 'variable' to store the each link position */}}
        {{- $data := newScratch }}

        {{- range $index, $value := .Ancestors.Reverse }}
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                {{- /* read the index from loop and add 'one', because it starts counting from zero */}}
                {{- $data.Set "counter" $index }}
                {{- $data.Add "counter" 1 }}
                <a itemprop="item" href="{{.Permalink}}">
                    <span itemprop="name">{{ if .IsHome }}Hjem{{ else }}{{ .Title }}{{ end }}</span>
                </a> / 
                {{- /* pass the counter value into schema attribute */}}
                <meta itemprop="position" content='{{ $data.Get "counter"}}' />
            </li>         
        {{- end }}
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                {{- /* add 'one' one more time for the last link position */}}
                {{- $data.Add "counter" 1 }}
                <a itemprop="item" href="{{ .Permalink }}">
                    <span itemprop="name">{{.Title}}</span>
                </a>
                {{- /* pass the counter value into schema attribute */}}
                <meta itemprop="position" content='{{ $data.Get "counter"}}' />
            </li>
    </ol>
    {{ else }}
    <ol class="" itemscope itemtype="https://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a itemprop="item" href="/">
                    <span itemprop="name">Hjem</span>
                </a> / 
                <meta itemprop="position" content='1' />
            </li>         
            {{ range $index, $element := $urlsplit }}
            {{ if and $element (gt $index 2)}}
                {{ $num = add $num 1 }}
                {{ $urlconstructor = (print $urlconstructor $element "/")}}
                    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <a itemprop="item" href="/{{ $urlconstructor }}">
                            <span itemprop="name">{{ . | humanize}}</span>
                        </a> / 
                        <meta itemprop="position" content='{{ $num }}' />
                    </li>         
                {{ end }}
            {{ end }}
    </ol>
{{ end }}
    </div>
</header>
