<header>
    <div class="font-black text-5xl py-4" style="letter-spacing: -0.30em">
        <a href="/" class="pr-10">
            MH
        </a>
    </div>
    <nav class="py-6">
        <ul class="flex flex-wrap gap-3 font-semibold text-lg leading-none">
            <li><a href="/">Hjem</a></li>
            <li><a href="/blogg">Blogg</a></li>
            <li><a href="/journal">Journal</a></li>
            <li><a href="/laeringslogg">Læringslogg</a></li>
            <li><a href="/tags">Emneknagger</a></li>
            <li><a href="/kilder">Kilder</a></li>
            <li><a href="/lenker">Lenker</a></li>
            <li><a href="/om">Om</a></li>
            <li><a href="/na">Nå</a></li>
        </ul>
    </nav>
</header>
