{{ $isHome := .content.IsHome }}
<div class="last-posts-list">
    <ul> 
    
    {{ range .range}}
                    <li class="journal-wrap">
                        <span class="date">{{.Date | time.Format ":date_long"}}</span>
                        <h3 class="journal">
                            {{.Title}}
                        </h3>
                        <div>
                            <p class="last-posts-list__meta">
                                {{ if ne (.Date | time.Format ":date_medium" ) ( .Lastmod | time.Format ":date_medium" ) }}
                                <span>Red: {{ .Lastmod | time.Format "2. Jan 2006"}}  |  </span>
                                {{ end }}
                                {{ partial "tags.html" .}}
                            </p>
                        </div>
                        <article class="journal">
                            {{.Content}}
                        </article>
                        <p style="margin-top: 1rem;">
                        <a style="font-size:.85rem;" href="{{.Permalink}}">Se notatest opprinnelige side.</a>
                        </p>
                    </li>
                    {{ if not $isHome }}
                    <li><hr></li>
                    {{ end }}
    {{ end }}
</ul>
</div>
