{{ $isHome := .content.IsHome }}
    <ul class="last-posts-list"> 
    
    {{ range .range}}
                    <li class="journal-wrap">
                        <article >
                            <section>
                                <p class="date">{{.Date | time.Format ":date_long"}}:</p>
                                <h{{if $isHome}}3{{else}}2{{end}} class="journal">
                                    {{.Title}}
                                </h{{if $isHome}}3{{else}}2{{end}}>
                                <div>
                                    <p class="last-posts-list__meta">
                                        {{ if ne (.Date | time.Format ":date_medium" ) ( .Lastmod | time.Format ":date_medium" ) }}
                                        <span>Red: {{ .Lastmod | time.Format "2. Jan 2006"}}  |  </span>
                                        {{ end }}
                                        {{ partial "tags.html" .}}
                                    </p>
                                </div>
                            </section>
                        <section class="journal">
                            {{.Content}}
                        </section>
                        </article>
                        <section class="journal_link">
{{ if not $isHome }}

                <ul class="taglist-index" style="list-style-type: none; margin: 0; margin-top: 1rem;">
                    <li>
                        <a href="{{.Permalink}}">Se som egen side</a>
                    </li>
                </ul>
{{end}}
                        </section>
                    </li>
                    {{ if not $isHome }}
                    <li><hr></li>
                    {{ end }}
    {{ end }}
</ul>
