{{ $isHome := .content.IsHome }}
<div class="last-posts-list">
    <ul> 
    
    {{ range .range}}
        
                    <li>
                        <h4 class="journal">
                            <span class="date">{{.Date | time.Format ":date_medium"}}</span><br />
                        </h4>
                        <div>
                            <p class="last-posts-list__meta">
                                {{ if ne (.Date | time.Format ":date_medium" ) ( .Lastmod | time.Format ":date_medium" ) }}
                                <span>Red: {{ .Lastmod | time.Format "2. Jan 2006"}}  |  </span>
                                {{ end }}
                                {{ partial "tags.html" .}}
                            </p>
                        </div>
                        <article class="journal">
                            <h5>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </h5>
                            {{.Content}}
                        </article>
                    </li>
                    {{ if not $isHome }}
                    <li><hr></li>
                    {{ end }}
    {{ end }}
</ul>
</div>
