<ul class="taglist">

    {{ $site := .ctx.Site }}
    {{ range .range}}
    {{ $sourceType := "" }}
    {{ $title := .data.title}}
    {{ $sourceTag := "" }}
    {{ $data := . }}
    {{ $incomingLinks := slice }}
    {{ if eq .data.itemType "book" }}
    {{ $sourceType = "bok" }}
    {{ else if eq .data.itemType "blogPost"}}
    {{ $sourceType = "blogg" }}
    {{ else if eq .data.itemType "videoRecording"}}
    {{ $sourceType = "video" }}
    {{ end }}

    {{ range .data.tags }}
    {{ $sourceTag = .tag }}
    {{ end }}
    {{ if $sourceTag }}
    {{ $date := .data.date }}
    <li id="{{ $sourceTag }}">
        <span class="taglist__source">{{$sourceType}} |
            {{ with .data }}
            {{$creators := .creators}}
            {{$firstName := ""}}
            {{$lastName := ""}}
            {{ range $index, $name := .creators }}
            {{ if not .firstName }}
            {{ with .lastName }}
            {{$firstName = index (split . " ") 0 }}
            {{$lastName = index (split . " ") 1 }}
            {{ end }}
            {{ else }}
            {{$firstName = .firstName}}
            {{$lastName = .lastName}}
            {{end }}
            
            {{ if eq (len $creators) 1 }}
            
            {{ $firstName }} {{ $lastName }}, {{ $date }}: 
            {{ else if and (eq (len $creators) (add $index 1) (ne $index 0))}}
            {{ .firstName }} {{ .lastName}}, {{ $date }}:
            {{ else }}
            {{ .firstName }} {{ .lastName }} og 
            {{ end }}
            {{ end }}
            </span>
            <h4>
                {{if .url}}<a target="_blank" href="{{.url}}">{{.title}} <svg width="16px" height="16px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g id="Interface / External_Link">
<path id="Vector" d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11" stroke="hsl(0, 100%, 60%, 1)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
</g>
</svg></a>{{ else }}{{.title}}{{end}}

        </h4>
       {{ with $site.GetPage (print "/bibliotek/" ($title | urlize))}}
       <ul class="taglist-index" style="margin-top: 0rem; margin-bottom: 1.5rem; flex-direction: row;">
           <li>
                        <a href="../bibliotek/{{$title | urlize}}">Min omtale av boken</a>
           </li>
                </ul>
       {{ end }}
            {{ end }}
    
    {{- range site.RegularPages -}}
    {{ if and (in .RawContent $sourceTag) (len $sourceTag) }}
    {{ $incomingLinks = $incomingLinks | append .}}
    {{ end }}
    {{- end -}}
    {{ if len $incomingLinks}}
    <ul style="padding-top: 0;">
        {{range $incomingLinks }}
        <li>
            <a href="{{.Permalink}}">
            <h6>{{.Title}}</h6>
            <div>
                <p class="last-posts-list__meta">
                <span style="font-weight:600">{{strings.FirstUpper .Type }}</span> | 
                {{ if ne (.Date | time.Format ":date_medium" ) ( .Lastmod | time.Format ":date_medium" ) }}
                <span>Red: {{ .Lastmod | time.Format "2. Jan 2006"}} | </span>
                {{ end }}
                <span>Pub: {{ .Params.Date | time.Format "2. Jan 2006" }}</span>    
                </p>
            </div>
            </a>
        </li>
        {{ end }}
    </ul>
        <hr style="margin-top: 2rem;">
    {{end}}
    </li>
    {{end}}
    {{ end }}
</ul>
