<ul class="taglist">

    {{ range .range}}

    {{ $sourceType := "" }}
    {{ $sourceTag := "" }}
    {{ $data := . }}
    {{ $incomingLinks := slice }}

    {{ if eq .data.itemType "book" }}
    {{ $sourceType = "bok" }}
    {{ else if eq .data.itemType "blogPost"}}
    {{ $sourceType = "blogg" }}
    {{ else if eq .data.itemType "videoRecording"}}
    {{ $sourceType = "video" }}
    {{ end }}

    {{ range .data.tags }}
    {{ $sourceTag = .tag }}
    {{ end }}
    {{ if $sourceTag }}

    <li>
        <span class="taglist__source">{{$sourceType}}</span>
        <h4>
            {{ with .data }}
            {{$creators := .creators}}
            {{$firstName := ""}}
            {{$lastName := ""}}
            {{ range $index, $name := .creators }}
            {{ if not .firstName }}
            {{ with .lastName }}
            {{$firstName = index (split . " ") 0 }}
            {{$lastName = index (split . " ") 1 }}
            {{ end }}
            {{ else }}
            {{$firstName = .firstName}}
            {{$lastName = .lastName}}
            {{end }}
            
            {{ if eq (len $creators) 1 }} 
            {{ $lastName }}, {{ $firstName }}: 
            {{ else if and (eq (len $creators) (add $index 1) (ne $index 0))}}
            {{ .lastName}}, {{ .firstName }}:
            {{ else }}
            {{ .lastName }}, {{ .firstName }} og 
            {{ end }}
            {{ end }}<br/>
            <span>{{.title}}</span>
            {{ end }}
        </h4>
        <div>
        </div>
    {{- range site.RegularPages -}}
    {{ if and (in .RawContent $sourceTag) (len $sourceTag) }}
    {{ $incomingLinks = $incomingLinks | append .}}
    {{ end }}
    {{- end -}}

    {{ if len $incomingLinks}}
    <ul>
        {{range $incomingLinks }}
        <li>
            <a href="{{.Permalink}}">
            <h6>{{.Title}}</h6>
            <div>
                <p class="last-posts-list__meta">
                {{strings.FirstUpper .Type }} | 
                {{ if ne (.Date | time.Format ":date_medium" ) ( .Lastmod | time.Format ":date_medium" ) }}
                <span>Red: {{ .Lastmod | time.Format "2. Jan 2006"}} | </span>
                {{ end }}
                <span>Pub: {{ .Params.Date | time.Format "2. Jan 2006" }}</span>    
                </p>
            </div>
            </a>
        </li>
        <li><hr></li>
        {{ end }}
    </ul>
    {{end}}
    </li>
    {{end}}
    {{ end }}
</ul>
