<ul class="flex flex-col">
    
    {{ $source := .type }}
    {{ $sourceType := "" }}
    {{ $sourceTag := "" }}
    {{ $page := .page }}

    {{ range .range}}
        {{ if $source }}
            {{ if eq .data.itemType "book" }}
                {{ $sourceType = "bok" }}
            {{ else if eq .data.itemType "blogPost"}}
                {{ $sourceType = "bloggartikkel" }}
            {{ else if eq .data.itemType "videoRecording"}}
                {{ $sourceType = "video" }}
            {{ end }}
        {{ end }}
        
        {{if $source }}
            {{ range .data.tags }}
                {{ $sourceTag = .tag }}
            {{ end }}
        {{ end }}
        
        <li class="flex">
        {{ if .Type }}
        <div class="flex gap-5">
            <div class="blog-line">
                <div class="flex flex-col items-center bg-gray-800 py-1">
                <span class="text-sm"><b>{{ .Date | time.Format "2. Jan" }}</b></span>
                <span class="text-sm">{{ .Date | time.Format "2006" }}</span>
                </div>
                <!--
                <div class="flex flex-col items-center bg-gray-800 py-1">
                {{ if ne (.Date | time.Format ":date_medium" ) ( .Lastmod | time.Format ":date_medium" ) }}
                <span class="text-sm">{{ .Lastmod | time.Format "2. Jan" }}</span>
                <span class="text-sm">{{ .Lastmod | time.Format "2006" }}</span>
                {{ end }}
                </div>
                -->
            </div>
        {{ end }}
        <div class="flex flex-col gap-4 flex-1 pb-20">
            {{ if or (eq $page "home") (eq $page "term")}}
                <small>{{ .Type }}</small>
            {{ end }}

            {{ if $source }}
                <small>{{ $sourceType }}</small>
            {{ end }}

            <h3 class="text-2xl font-bold text-pink-400">
                {{ if and .Type (ne .Type "læringslogg")}}
                    <a href="{{ .RelPermalink }}" class="hover:underline">{{ .Title }}</a>
                {{else if eq .Type "læringslogg" }}    
                    <a href="{{ .RelPermalink }}">{{ .Title | dateFormat ":date_medium" }}</a>
                {{ else if $source }}
                    <a href="{{.data.url}}" id={{ $sourceTag }}>{{.data.title}}</a> 
                {{ else }}
                    <a href="{{.link}}">{{.title}}</a> 
                {{ end }}
            </h3>
            
            {{ if and .Type (ne .Type "læringslogg") }}
            <p>
                {{ .Content }}
            </p>
            {{ end }}
            
            {{ if eq .Type "læringslogg" }}
            <article>
            {{ .Content }}
            </article>
            {{ end }}

            {{/* API-sider */}}
            {{ if not .Type }}
                {{ with .data }}
                    <ul>
                        {{ range .creators }}
                            <li>{{ .firstName }} {{ .lastName }}</li>
                        {{ end }}
                    </ul>
                {{ end }}
                
                {{ if .excerpt }}
                    <blockquote>
                        <p>
                            {{ .excerpt }}
                        </p>
                    </blockquote>
                    <div>
                        <a href="{{ .link }}">
                            {{ .domain }}
                        </a>
                    </div>
                {{ end }}
            {{ end }}
            
            {{ if $source}}
                <ul>
                    {{- range site.RegularPages -}}
                        {{ if in .RawContent $sourceTag }}
                            <li>
                                <a href="{{ .Page.Permalink }}">{{.Title}}</a>
                                <small>{{ .Type }}</small>
                                {{ partial "tags.html" .}}
                            </li>
                        {{ end }}
                    {{- end -}}
                </ul>
            {{ end }}
            
            {{/* Show tags if any */}}
            {{ if .Type }}
                {{ if eq .Type "læringslogg" }}
                    {{ partial "tags-laeringslogg.html" . }}
                {{ else }} 
                    {{ partial "tags.html" .}}
                {{ end }}
            {{ end }}
        </div>
        </li>
    {{ end }}
</ul>
