    <ul class="last-posts-list">
        {{ $tag := strings.FirstUpper .tag}}
        {{ range .range}}
        <li>
            <h2>
                <a href="{{.Permalink}}">
                    {{.Title | dateFormat ":date_long" }}

                </a>
            </h2>
            <div>
                <p class="last-posts-list__meta">
                {{ if ne (.Date | time.Format ":date_medium" ) ( .Lastmod | time.Format ":date_medium" ) }}
                <span>Red: {{ .Lastmod | time.Format "2. Jan 2006"}} | </span>
                {{ end }}
                <span>Pub: {{ .Params.Date | time.Format "2. Jan 2006" }} | </span>    
                {{ partial "tags.html" .}}
                </p>
            </div>
            {{$regExString := print `(?s)(?i)` $tag `<\/h[0-9]>.*?<h[0-9]|(?s)(?i)` $tag `<\/h[0-9]>.*`}} 
        <article class="logg">
            {{ $regExMatch := .Content | findRE $regExString }}
            {{ range $regExMatch}}
                {{ $contentMatch := . | findRE `(?s)<ul>.*?<h|(?s)<ul>.*`}}
                        {{ $content := strings.TrimRight "<h" (index $contentMatch 0)}}
                {{ $content | safeHTML}}
            {{ end }}
        </article>

        </li>
                    <li><hr></li>
        {{ end }}
        </ul>
