{{ $taxonomy := "tags" }} 
    {{ with .Param $taxonomy }}
    {{ $range := .}}
        {{ range $index, $tag := . }} {{ with $.Site.GetPage (printf "/%s/%s"
  $taxonomy $tag) -}}

        <a href="{{ .RelPermalink }}"> 
        {{ if eq (len $range) 1 }} 
            #{{ $tag }}
      </a>
         {{ else if and (eq (len $range) (add $index 1)) (ne $index 0) }}
            #{{ $tag }}
      </a>
        {{ else }}
        #{{ $tag }} 
      </a>, 
        {{ end }}
  {{- end -}} {{- end -}}
{{ end }}
