{{ define "main" }}
    {{ .Content }}
    {{- $currentPage := . -}}
    <div>
<ul class="last-posts-list">
    {{ range sort .Pages "Params.dateAdded" "desc"}}
    {{.Params.publishDate }}
    {{ $title := .Title}}
        {{ $sourceTag := "" }}
        {{ range .Params.tags }}
            {{ $sourceTag = .tag }}
        {{ end }}
        {{ $date := .Params.date }}
        {{ $score := .Params.score }}
        {{ $path := .Title | urlize}}
        {{ if .Title}}
    <li style="display: flex; gap: 16px;">

        <div>
        <span class="taglist__source">
        {{$creators := .Params.creators}}
        {{$firstName := ""}}
        {{$lastName := ""}}
        {{ range $index, $name := $creators }}
            {{ if not .firstName }}
                {{ with .lastName }}
                    {{$firstName = index (split . " ") 0 }}
                    {{$lastName = index (split . " ") 1 }}
                {{ end }}
            {{ else }}
                {{$firstName = .firstName}}
                {{$lastName = .lastName}}
            {{end }}
            
            {{ if eq (len $creators) 1 }}
            {{ $firstName }} {{ $lastName }}, {{ $date }}: 
            {{ else if and (eq (len $creators) (add $index 1) (ne $index 0))}}
            {{ .firstName }} {{ .lastName}}, {{ $date }}:
            {{ else }}
            {{ .firstName }} {{ .lastName }} <span>og</span> 
            {{ end }}
            {{ end }}
            </span>
            <h2 id="{{ $sourceTag }}">
        <a href="{{ .Path }}">{{ .Title }}</a>
            </h2>
    <p class="last-posts-list__meta">
    {{ if and .Params.dateUpdated (ne (.Params.dateUpdated | time.Format "2. Jan 2006") (.Params.dateAdded | time.Format "2. Jan 2006")) }}
    <span>Red: {{ .Params.dateUpdated | time.Format "2. Jan 2006" }} | </span>
    {{ end }}
    <span>Pub: {{ .Params.dateAdded | time.Format "2. Jan 2006"}} </span>    
    </p>

    <div class="bok">
{{ with resources.Get (print "images/" $path ".webp") }}
<a href="{{$path}}" class="img_hover">{{ partial "imgh-2" (dict "ctx" . "src" .RelPermalink  "figcaption" "" "alt" (print "Coveret til boken " $title) "holder" "LQTIP" "title" $title "small" "true") }}
    {{end}}</a>
    </div>
    <p class="last-posts-list__ingress">{{ .Params.extra }}</p>
    <p class="last-posts-list__ingress"><b>
    Min vurdering: {{.Params.score}}/10 </b></p>
    <p><a class="readmore" href="{{$path}}">Les omtale</a></p>
    </div>
    </li>
    {{ end }}
    {{ end }}
</ul>
    </div>
{{ end }}
