{{ define "main" }}
    {{ .Content }}
    {{- $currentPage := . -}}
    <div class="last-posts-list">
<ul class="last_posts">
    {{ range .Pages }}
        {{ $sourceTag := "" }}
        {{ range .Params.tags }}
            {{ $sourceTag = .tag }}
        {{ end }}
        {{ $date := .Params.date }}
        {{ $score := .Params.score }}
        {{ $path := .Title | urlize}}
        {{ if .Title}}
    <li style="display: flex; gap: 16px;">

        <div>
        <span class="taglist__source">
        {{$creators := .Params.creators}}
        {{$firstName := ""}}
        {{$lastName := ""}}
        {{ range $index, $name := $creators }}
            {{ if not .firstName }}
                {{ with .lastName }}
                    {{$firstName = index (split . " ") 0 }}
                    {{$lastName = index (split . " ") 1 }}
                {{ end }}
            {{ else }}
                {{$firstName = .firstName}}
                {{$lastName = .lastName}}
            {{end }}
            
            {{ if eq (len $creators) 1 }}
            {{ $firstName }} {{ $lastName }}, {{ $date }}: 
            {{ else if and (eq (len $creators) (add $index 1) (ne $index 0))}}
            {{ .firstName }} {{ .lastName}}, {{ $date }}:
            {{ else }}
            {{ .firstName }} {{ .lastName }} og 
            {{ end }}
            {{ end }}
            </span>
            <h4 id="{{ $sourceTag }}">
        <a href="{{ .Path }}#h1">{{ .Title }}</a>
            </h4>

    <p class="last-posts-list__meta">
    {{ if .Params.dateUpdated }}
    <span>Red: {{ .Params.dateUpdated }} | </span>
    {{ end }}
    <span>Pub: {{ .Params.dateAdded }} </span>    
    </p>

    <div class="bok">
{{ with resources.Get (print "images/" $path ".webp") }}
<a href="{{$path}}" class="img_hover">{{ partial "imgh-2" (dict "ctx" . "src" .RelPermalink  "figcaption" "" "alt" "En." "holder" "LQTIP" "title" "Kaninen Snøhvit er tilfreds") }}
    {{end}}</a>
    </div>
    <p class="last-posts-list__ingress">{{ .Params.extra }}</p>
    <p class="last-posts-list__ingress">
    Min vurdering: {{.Params.score}}/10 </span></p>
    <p><a class="readmore" href="{{$path}}#h1">Les omtale</a></p>
    </div>
    </li>
    {{ end }}
    {{ end }}
</ul>
    </div>
{{ end }}
