{{ define "main" }}
{{ $date := .Params.date }}
{{ $tag := ""}}
{{with .Params.tags }}
{{ range .}}
{{ $tag = .tag}}
{{end}}
{{ end }}
    <div class="intro blogg">

        <span class="taglist__source">
        {{$creators := .Params.creators}}
        {{$firstName := ""}}
        {{$lastName := ""}}
        {{ range $index, $name := $creators }}
            {{ if not .firstName }}
                {{ with .lastName }}
                    {{$firstName = index (split . " ") 0 }}
                    {{$lastName = index (split . " ") 1 }}
                {{ end }}
            {{ else }}
                {{$firstName = .firstName}}
                {{$lastName = .lastName}}
            {{end }}
            
            {{ if eq (len $creators) 1 }}
            {{ $firstName }} {{ $lastName }}, {{ $date }}: 
            {{ else if and (eq (len $creators) (add $index 1) (ne $index 0))}}
            {{ .firstName }} {{ .lastName}}, {{ $date }}:
            {{ else }}
            {{ .firstName }} {{ .lastName }} og 
            {{ end }}
            {{ end }}

            </span>
        <h1>{{ .Title }}</h1>
    <p class="last-posts-list__meta">
    {{ if .Params.dateUpdated }}
    <span>Red: {{ .Params.dateUpdated }} | </span>
    {{ end }}
    <span>Pub: {{ .Params.dateAdded }} </span>    
    <br />    
    </p>
    </div>
    <article>
        {{- .Content -}}
    </article>
<ul class="taglist-index" style="margin-top: 3rem;">
                    <li>
                        <a href="{{ .Params.url }}">Les mer om boken

        <svg width="14px" height="14px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g id="Interface / External_Link">
<path id="Vector" d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
</g>
</svg>
                        </a>
                    </li>
                </ul>
    <hr class="single">
<section class="mail">
<h5>Ris, ros eller respons?</h5>
<p> 
<style>
  #span-0c2f3098.cloaked-e-mail:before {
    content:attr(data-domain) "\0040" attr(data-user);
    unicode-bidi:bidi-override;
    direction:rtl;
  }
</style>
 Send meg gjerne &#32;<span class="cloaked-e-mail" data-user="tsop" data-domain="on.neseglehleahcim" id="span-0c2f3098"></span>&#32; om du har en kommentar, korrektur eller konstruktiv kritikk til denne saken. 


<script id="script-0c2f3098">
  var scriptTag = document.getElementById("script-0c2f3098");
  var link = document.createElement("a");
  var address = "tsop".split('').reverse().join('') + "@" + "on.neseglehleahcim".split('').reverse().join('');
  link.href = "mailto" + ":" + address + "?subject=Kommentar til siden {{.Title}}";
  link.innerText = "en e-post";
  scriptTag.parentElement.insertBefore(link, scriptTag.previousElementSibling);
  scriptTag.parentElement.removeChild(scriptTag.previousElementSibling)
</script>
</section>
    <hr class="single">
    <div>

    {{ if .Params.url }}
    {{ end }}
    </div>
{{ $backlinks := slice }}
{{ $path_base := (strings.TrimPrefix "/bibliotek/" .Path ) }}
{{ $path_base_re := printf `["/(]%s["/)]` $path_base }}
{{ range where site.RegularPages "RelPermalink" "ne" .RelPermalink }}
    {{ if or (findRE $path_base_re .RawContent 1) (in .RawContent $tag)}}
        {{ $backlinks = $backlinks | append . }}
    {{ end }}
{{ end }}
{{ with $backlinks }}
    <section class="backlinks">
        {{ printf "<h5>Tekster som henviser til denne boken: </h5>" | safeHTML }}
        <nav>
            <ul class="taglist single">
                {{ range . }}
        <li>
            <a href="{{.Permalink}}">
            <h6>{{.Title}}</h6>
            <div>
                <p class="last-posts-list__meta">
                <span style="font-weight: 600">{{strings.FirstUpper .Type }}</span> | 
                {{ if ne (.Date | time.Format ":date_medium" ) ( .Lastmod | time.Format ":date_medium" ) }}
                <span>Red: {{ .Lastmod | time.Format "2. Jan 2006"}} | </span>
                {{ end }}
                <span>Pub: {{ .Params.dateAdded }}</span>    
                </p>
            </div>
            </a>
        </li>
                {{ end }}
            </ul>
        </nav>
    </section>
{{ end }}
{{ end }}
