{{ define "main" }}
{{ .Content }}    
    <ul>
        {{ range .Pages}}
            <li>
                <h2 id={{.Title}}>{{ .Title }}</h2>
            </li>
            <li>
                <ul>
                    {{ $o := .Title }}
                    {{ range site.RegularPages}}
                        {{ $l := .RawContent}}
                        {{ if  in $l (print "< ref \"" $o "\" >") }}
                            <li>
                                <a href="{{ .Page.Permalink }}">{{.Title}}</a>
                                <small>{{ .Type }}</small>
                            </li>
                        {{end}}
                    {{ end }}
                </ul>
            </li>
        {{ end }}
    </ul>
{{ end }}


