{{ define "main" }}
    <h2>Siste  fem blogg- og journalinnlegg</h2>
    {{ $range := where (where .Site.RegularPages.ByDate.Reverse "Type" "!=" "staticpage") "Type" "!=" "læringslogg" | first 5 }}
    {{ partial "list" (dict "range" $range "content" . "page" .Kind)}}
    <h2>Siste tre læringslogger</h2>
    {{ $rangeLaering := where (where .Site.RegularPages.ByDate.Reverse "Type" "!=" "staticpage") "Type" "=" "læringslogg" | first 3 }}
    {{ partial "list" (dict "range" $rangeLaering "content" . "page" .Kind)}}
{{ end }}
