{{ define "main" }}
    <div class="flex flex-col gap-10">
        <div class="flex flex-col gap-4">
        {{ .Content }}
        </div>
        <ul class="flex gap-3 flex-wrap">
            {{range $name, $taxonomy := .Site.Taxonomies.tags}} {{ $cnt := .Count }}
            {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
                {{ partial "tags-homepage" (dict "page" . "name" $name "taxonomy" $taxonomy "count" $cnt )}}
            {{ end }}
        {{ end }}
        </ul>
        <div class="flex flex-col gap-4">
            <div class="flex flex-col gap-4 flex-1">
            <h2 class="text-xl font-semibold">Læringslogg</h2>
            <p>
            Jeg forsøker også så godt jeg kan å loggføre all ny kunnskap i en notatbok, som jeg deretter overfører til en digital punktliste som <a href="/laeringslogg">publiseres her</a>.
            </p>
            <p> 
            En slik logg et sterkt visuelt bilde på hvor mye man faktisk har lært, og en god metode for å befeste kunnskapen. Dessuten opplever jeg det som en veldig god inspirasjonskilde for nye skriverier. 
            Jeg anbefaler deg absolutt å prøve, men hold det enkelt! 
            </p>
            </div>
            <div>
            <div class="cal">
            {{ $rangeLaering := where (where .Site.RegularPages.ByDate.Reverse "Type" "!=" "staticpage") "Type" "=" "læringslogg" | first 6 }}
            {{ partial "laeringslogg-homepage2" (dict "range" $rangeLaering "content" . "page" .Kind)}}
            </div>
            </div>
        </div>
    </div>
{{ end }}
